# Dependencies
/node_modules

# Build & Distribution
/dist
/build

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary files
*.tmp
*~
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/

# OS specific
.DS_Store
*.sw[op]
